#include <winver.h>

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,1
 PRODUCTVERSION 1,0,0,1
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "001104b0"
        BEGIN
            VALUE "CompanyName", "Palmtree Software"
            VALUE "FileDescription", "Palmtree 数値演算ライブラリ SFMT乱数生成アンマネージドモジュール"
            VALUE "FileVersion", "1.0.0.1"
            VALUE "InternalName", "Palmtree.Math.Core.Sfmt"
            VALUE "LegalCopyright", "© 2019 Palmtree Software\r\n\r\nSFMT.c, SFMT-*.h:\r\n Copyright (C) 2006, 2007 Mutsuo Saito, Makoto Matsumoto and Hiroshima  University.\r\n Copyright (c) 2012 Mutsuo Saito, Makoto Matsumoto, Hiroshima University  and The University of Tokyo.\r\n All rights reserved."
            VALUE "OriginalFilename", "Palmtree.Math.Core.Sfmt"
            VALUE "ProductName", "Palmtree 数値演算ライブラリ"
            VALUE "ProductVersion", "1.0.0.1"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x11, 1200
    END
END
